@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


body{font-family:'Comfortaa',sans-serif;color:#000000;}
.mega-menu{width: 800%;left:-400%;}
@media (max-width:768px){
.mega-menu{width: 100%;left:0;}
}



@font-face{
    src:url("../font/Caroline.otf");
    font-family: fonttitle;}

#s2{background:url("../images/bgs23.png") repeat-y;background-size:100%;}

@media(max-width:768px){#sx{visibility: none;display: none;}}


@media(max-width:1024px){.texts1{visibility: none;display: none;}}
@media(max-width:1024px){.texts11{visibility:visible;}}
@media(max-width:768px){.texts11{visibility:none;display: none;}}
@media(min-width:1200px){.texts11{visibility:none;display: none;}}


@media(max-width:1200px){.texts2{visibility:visible;}}
@media(max-width:1024px){.texts2{visibility:none;display: none;}}


@media(max-width:768px){#sxx{visibility: none;display: none;}}

@media(max-width:768px){#sxxx{visibility: none;display: none;}}

#s7{background:url("../images/other-11.png") repeat-y;background-size:100%;}